@model IEnumerable<Klove_Crud.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

    @if (Model != null ){
    foreach (var item in Model ) {

    <tr>
        <td>
            @item.firstName
        </td>
        <td>
            @item.lastName
        </td>
        <td>
            @item.Position
        </td>
        <td>
            @item.Salary
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.departmentName
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
    }
}
</table>
